asgiref==3.11.0
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
mongoengine==0.29.1
mysqlclient==2.2.7
PyJWT==2.10.1
pymongo==4.15.5
sqlparse==0.5.3
tzdata==2025.2